.ListaOrdenesCompleta {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  gap: 25px;
}
.ListaOrdenesCompleta__Titulo {
  grid-column: 1 / -1;
  color: var(--ColorAzul);
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
}
.ListaOrdenesCompleta__Buscar {
  grid-column: 3/5;
  display: flex;
}
.ListaOrdenesCompleta__Buscar input {
  width: 100%;
  min-height: 50px;
  height: 50px;
  max-height: 50px;
  background-color: var(--ColorBlanco);
  border: 1px solid var(--ColorBlanco);
  padding: 0 10px;
  color: var(--ColorNegro);
  font-size: 16px;
  font-weight: bold;
}
.ListaOrdenesCompleta__Buscar__Lupa {
  min-width: 50px;
  min-height: 50px;
  color: var(--ColorBlanco);
  background-color: var(--ColorAzul);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.ListaOrdenesCompleta__TextoResultados {
  grid-column: 1 / -1;
  color: var(--ColorVerde);
  text-align: right;
  font-style: italic;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: right;
}
.ListaOrdenesCompleta__TextoResultados ion-icon {
  font-size: 20px;
}
.ListaOrdenesCompleta__Clasificacion {
  grid-column: 1 / -1;
  color: var(--ColorAzul);

  display: flex;
  gap: 5px;
}
.ListaOrdenesCompleta__Colores {
  grid-column: 1 / -1;
  display: flex;
  gap: 5px;
}
.ListaOrdenesCompleta__Clasificacion--Texto {
  width: auto;
  height: 30px;
  padding: 0 10px;
  font-size: 14px;
  color: var(--ColorBlanco);
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.ListaOrdenesCompleta__Clasificacion--Texto ion-icon {
  font-size: 16px;
}
.ListaOrdenesCompleta__Clasificacion--Texto.InformacionNoCompletada {
  background-color: var(--ColorBlanco);
  color: var(--ColorNaranja);
}
.ListaOrdenesCompleta__Clasificacion--Texto.PedidoRealizado {
  background-color: var(--ColorBlanco);
  color: var(--ColorVerde);
}
.ListaOrdenesCompleta__Clasificacion--Texto.PedidoNoRealizado {
  background-color: var(--ColorBlanco);
  color: var(--ColorRojo);
}
.ListaOrdenesCompleta__Cuerpo {
  grid-column: 1 / -1;
  overflow-x: auto;
}
.ListaOrdenesCompleta__Cuerpo__Tabla {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}
.ListaOrdenesCompleta__Cuerpo__Tabla__Encabezado tr th {
  background-color: var(--ColorAzul);
  color: var(--ColorBlanco);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  min-width: 200px;
}
.ListaOrdenesCompleta__Cuerpo__Tabla__Encabezado tr th ion-icon {
  font-size: 20px;
}
.ListaOrdenesCompleta__Cuerpo__Tabla__Cuerpo {
  background-color: var(--ColorBlanco);
  text-align: center;
}
.ListaOrdenesCompleta__Cuerpo__Tabla__Cuerpo tr td {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.ListaOrdenesCompleta__Cuerpo__Tabla__Cuerpo--TR {
  background-color: var(--ColorBlanco);
  padding: 10px;
  font-size: 14px;
  text-align: center;
  border-right: 2px solid var(--ColorSecundario);
  border-bottom: 2px solid var(--ColorSecundario);
  border-left: 2px solid var(--ColorSecundario);
}
.ListaOrdenesCompleta__Cuerpo__Tabla__Cuerpo--TR.InformacionNoCompletada {
  color: var(--ColorNaranja);
}
.ListaOrdenesCompleta__Cuerpo__Tabla__Cuerpo--TR.PedidoNoRealizado {
  color: var(--ColorRojo);
}
.ListaOrdenesCompleta__Cuerpo__Tabla__Cuerpo--TR.InformacionPedidoCompletados {
  color: var(--ColorVerde);
}
.ListaOrdenesCompleta__Cuerpo__Tabla__Cuerpo hr {
  height: 2px;
  background-color: var(--ColorSecundario);
  border: none;
}
.ListaOrdenesCompleta__Cuerpo__Tabla__Cuerpo__Acciones {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
}
.ListaOrdenesCompleta__Cuerpo__Tabla__Cuerpo__Acciones button {
  width: 25px;
  height: 25px;
  background-color: var(--ColorRojo);
  border: 2px solid var(--ColorRojo);
  color: var(--ColorBlanco);
  font-weight: bold;
  border-radius: 50%;
  transition: 0.3s ease-in-out all;

  display: flex;
  align-items: center;
  justify-content: center;
}
.ListaOrdenesCompleta__Cuerpo__Tabla__Cuerpo--TR.InformacionNoCompletada
  .ListaOrdenesCompleta__Cuerpo__Tabla__Cuerpo__Acciones
  button {
  background-color: var(--ColorNaranja);
  border: 2px solid var(--ColorNaranja);
}
.ListaOrdenesCompleta__Cuerpo__Tabla__Cuerpo--TR.InformacionNoCompletada
  .ListaOrdenesCompleta__Cuerpo__Tabla__Cuerpo__Acciones
  button:hover {
  background-color: var(--ColorBlanco);
  color: var(--ColorNaranja);
}
.ListaOrdenesCompleta__Cuerpo__Tabla__Cuerpo--TR.PedidoNoRealizado
  .ListaOrdenesCompleta__Cuerpo__Tabla__Cuerpo__Acciones
  button {
  background-color: var(--ColorRojo);
  border: 2px solid var(--ColorRojo);
}
.ListaOrdenesCompleta__Cuerpo__Tabla__Cuerpo--TR.PedidoNoRealizado
  .ListaOrdenesCompleta__Cuerpo__Tabla__Cuerpo__Acciones
  button:hover {
  background-color: var(--ColorBlanco);
  color: var(--ColorRojo);
}
.ListaOrdenesCompleta__Cuerpo__Tabla__Cuerpo--TR.InformacionPedidoCompletados
  .ListaOrdenesCompleta__Cuerpo__Tabla__Cuerpo__Acciones
  button {
  background-color: var(--ColorVerde);
  border: 2px solid var(--ColorVerde);
}
.ListaOrdenesCompleta__Cuerpo__Tabla__Cuerpo--TR.InformacionPedidoCompletados
  .ListaOrdenesCompleta__Cuerpo__Tabla__Cuerpo__Acciones
  button:hover {
  background-color: var(--ColorBlanco);
  color: var(--ColorVerde);
}
@media (max-width: 1000px) {
  .ListaOrdenesCompleta__Buscar {
    grid-column: 1 / -1;
  }
}
@media (max-width: 500px) {
  .ListaOrdenesCompleta__Titulo {
    font-size: 20px;
  }
  .ListaOrdenesCompleta__Cuerpo__Tabla__Encabezado tr th ion-icon {
    font-size: 16px;
  }
  .ListaOrdenesCompleta__Cuerpo__Tabla__Encabezado tr th {
    font-size: 14px;
  }
  .ListaOrdenesCompleta__Cuerpo__Tabla__Cuerpo tr td {
    font-size: 12px;
  }
  .ListaOrdenesCompleta__Cuerpo__Tabla__Cuerpo tr td {
    padding: 5px;
  }
  .ListaOrdenesCompleta__TextoResultados {
    font-size: 12px;
  }
  .ListaOrdenesCompleta__TextoResultados ion-icon {
    font-size: 16px;
  }
  .ListaOrdenesCompleta__Clasificacion {
    font-size: 18px;
  }
  .ListaOrdenesCompleta__Clasificacion--Texto {
    font-size: 12px;
  }
}
@media (width <= 435px) {
  .ListaOrdenesCompleta__Colores {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
