.ListaOrdenesPorFecha {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.ListaOrdenesPorFecha__Titulo {
  grid-column: 1 / -1;
  color: var(--ColorAzul);
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
}
.ListaOrdenesPorFecha__Titulo--Fechas {
  font-size: 12px;
  color: var(--ColorVerde);
}
.ListaOrdenesPorFecha__Botones {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.ListaOrdenesPorFecha__Botones--Boton {
  width: auto;
  padding: 0 10px;
  min-height: 50px;
  height: 50px;
  max-height: 50px;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--ColorBlanco);
  border: 2px solid var(--ColorBlanco);
  color: var(--ColorNegro);
  /* border-radius: 15px; */
  margin-top: 10px;
  transition: 0.3s ease-in-out all;
  cursor: pointer;
}
.ListaOrdenesPorFecha__TextoResultados {
  grid-column: 1 / -1;
  color: var(--ColorVerde);
  text-align: right;
  font-style: italic;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: right;
}
.ListaOrdenesPorFecha__TextoResultados ion-icon {
  font-size: 20px;
}
.ListaOrdenesPorFecha__Clasificacion {
  grid-column: 1 / -1;
  color: var(--ColorAzul);

  display: flex;
  gap: 5px;
}
.ListaOrdenesPorFecha__Colores {
  grid-column: 1 / -1;
  display: flex;
  gap: 5px;
}
.ListaOrdenesPorFecha__Clasificacion--Texto {
  width: auto;
  height: 30px;
  padding: 0 10px;
  font-size: 14px;
  color: var(--ColorBlanco);
  /* border-radius: 15px; */
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.ListaOrdenesPorFecha__Clasificacion--Texto ion-icon {
  font-size: 16px;
}
.ListaOrdenesPorFecha__Clasificacion--Texto.PedidoRealizado {
  background-color: var(--ColorBlanco);
  color: var(--ColorVerde);
}
.ListaOrdenesPorFecha__Clasificacion--Texto.PedidoNoRealizado {
  background-color: var(--ColorBlanco);
  color: var(--ColorRojo);
}
.ListaOrdenesPorFecha__Cuerpo {
  grid-column: 1 / -1;
  overflow-x: auto;
}
.ListaOrdenesPorFecha__Cuerpo__Tabla {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
}
.ListaOrdenesPorFecha__Cuerpo__Tabla__Encabezado tr th {
  background-color: var(--ColorAzul);
  color: var(--ColorBlanco);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  min-width: 200px;
}
.ListaOrdenesPorFecha__Cuerpo__Tabla__Encabezado tr th ion-icon {
  font-size: 20px;
}
.ListaOrdenesPorFecha__Cuerpo__Tabla__Cuerpo {
  background-color: var(--ColorBlanco);
  text-align: center;
}
.ListaOrdenesPorFecha__Cuerpo__Tabla__Cuerpo tr td {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.ListaOrdenesPorFecha__Cuerpo__Tabla__Cuerpo--TR {
  background-color: var(--ColorBlanco);
  padding: 10px;
  font-size: 14px;
  text-align: center;
  border-right: 2px solid var(--ColorSecundario);
  border-bottom: 2px solid var(--ColorSecundario);
  border-left: 2px solid var(--ColorSecundario);
  color: var(--ColorRojo);
}
.ListaOrdenesPorFecha__Cuerpo__Tabla__Cuerpo--TR.OrdenRealizada {
  color: var(--ColorVerde);
}
.ListaOrdenesPorFecha__Cuerpo__Tabla__Cuerpo hr {
  height: 2px;
  background-color: var(--ColorSecundario);
  border: none;
}
.ListaOrdenesPorFecha__Cuerpo__Tabla__Cuerpo__Acciones {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 5px;
}

.ListaOrdenesPorFecha__Cuerpo__Tabla__Cuerpo__Acciones button {
  width: 25px;
  height: 25px;
  background-color: var(--ColorRojo);
  border: 2px solid var(--ColorRojo);
  color: var(--ColorBlanco);
  font-weight: bold;
  border-radius: 50%;
  transition: 0.3s ease-in-out all;

  display: flex;
  align-items: center;
  justify-content: center;
}
.ListaOrdenesPorFecha__Cuerpo__Tabla__Cuerpo--TR.OrdenRealizada
  .ListaOrdenesPorFecha__Cuerpo__Tabla__Cuerpo__Acciones
  button {
  background-color: var(--ColorVerde);
  border: 2px solid var(--ColorVerde);
}
.ListaOrdenesPorFecha__Cuerpo__Tabla__Cuerpo__Acciones button:hover {
  background-color: transparent;
  color: var(--ColorRojo);
}
.ListaOrdenesPorFecha__Cuerpo__Tabla__Cuerpo--TR.OrdenRealizada
  .ListaOrdenesPorFecha__Cuerpo__Tabla__Cuerpo__Acciones
  button:hover {
  background-color: transparent;
  color: var(--ColorVerde);
}
@media (max-width: 500px) {
  .ListaOrdenesPorFecha__Titulo {
    font-size: 20px;
  }
  .ListaOrdenesPorFecha__Cuerpo__Tabla__Encabezado tr th ion-icon {
    font-size: 16px;
  }
  .ListaOrdenesPorFecha__Cuerpo__Tabla__Encabezado tr th {
    font-size: 14px;
  }
  .ListaOrdenesPorFecha__Cuerpo__Tabla__Cuerpo tr td {
    font-size: 12px;
  }
  .ListaOrdenesPorFecha__Cuerpo__Tabla__Cuerpo tr td {
    padding: 5px;
  }
  .ListaOrdenesPorFecha__TextoResultados {
    font-size: 12px;
  }
  .ListaOrdenesPorFecha__TextoResultados ion-icon {
    font-size: 16px;
  }
  .ListaOrdenesPorFecha__Clasificacion {
    font-size: 18px;
  }
  .ListaOrdenesPorFecha__Clasificacion--Texto {
    font-size: 12px;
  }
}
@media (width <= 435px) {
  .ListaOrdenesPorFecha__Colores {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
